@model SV20T1020619.web.Models.Person
@{

}
<div class="box box-primary">
    <div class="box-body">
        <form action="~/Text/Save" method="post">

            <div class="form-group">
                <label>Tên:</label>
                <input type="text" class="form-control" name="@nameof(Model.Name)" autofocus value="@Model.Name">
            </div>

            <div class="form-group">
                <label>Ngày sinh:</label>
                <input type="hidden" name="@nameof(Model.Birthday)" value="@Model.Birthday">
                <input type="text" class="form-control" name="BirthdayInput" 
                value="@Model.Birthday.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("en-GB"))">
            </div>

            <div class="form-group">
                <label>Lương:</label>
                <input type="text" class="form-control" name="@nameof(Model.Salary)" value="@Model.Salary">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Lưu dữ liệu
                </button>
            </div>
        </form>
    </div>
</div>
